<ion-view view-title="Lists">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..."
                   spinner="spiral"
                   on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar"
                collection-repeat="topic in topics"
                collection-item-width="'100%'"
                collection-item-height="72"
                ui-sref="app.topic({topicId: topic.id})">
        <img ng-src="{{topic.author.avatar_url}}">
        <h2>{{topic.title}}</h2>
        <p class="summary">
          {{topic.author.loginname}}
          <span class="item-note"
                am-time-ago="topic.last_reply_at">
          </span>
        </p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()"
                         ng-if="hasMoreTopics"
                         spinner="spiral"
                         distance="1%">
    </ion-infinite-scroll>
    <div class="padding text-center"
         ng-if="!hasMoreTopics">
      no more topics
    </div>
  </ion-content>
</ion-view>
