hr {
  border-top: none;
  border-left: none;
  border-right: none;
}

img {
  max-width: 100%;
  white-space: pre-wrap;
}

.item-author {
  line-height: 20px;
  text-decoration: none;
  .avatar {
    border-radius: 4px;
    height: 16px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
  }
}
.item-topic {
  .item-content {
    img {
      border-radius: 4px !important;
    }
    padding-right: 16px !important;
  }
}
.label {
  border-radius: 3px;
  padding: 1px 3px;
  font-size: 12px;
  color: white;
  margin-right: 2px;
  &.label-positive {
    background-color: $button-positive-active-bg;
    color: white;
  }
  &.label-default {
    background: #e5e5e5;
    color: #999;
  }
}
.text-note {
  color: #aaa;
}
textarea {
  resize: none !important;
  width: 100%;
  font-size: 16px !important;
  line-height: 1.4;
  min-height: 50px;
}
.markdown-text {
  margin: 8px 0;
  color: #444;
  font-size: 15px;
  line-height: 1.6em;
  ol, ul {
    list-style-type: decimal;
    padding-left: 20px;
  }
  p, ol, ul {
    color: #444;
    white-space: pre-wrap;
  }
}
.reply-item {
  .avatar {
    height: 22px;
  }
  .reply-content {
    padding-left: 28px;
  }
}
.user-item-body {
  p {
    margin-top: 0;
  }
  .button-icon {
    min-height: 0;
    height: 35px;
    line-height: 1;
    padding: 0;
    &:before {
      font-size: 21px!important;
      line-height: 13px;
    }
  }
}
.unread-message-dot {
  &:before {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FD4638;
    border-radius: 50%;
    top: 3px;
    right: 10px;
    box-shadow: 1px 1px 1px gray;
  }
}
.menu-dark {
  background: #f5f5f5;
  .item {
    border: none;
    background: #f5f5f5;
    &.active {
      background: #d9d9d9;
    }
  }
  .item-divider {
    background-color: #E8E8E8;
  }
}
