<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">{{topic.replies.length}}回复</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty"
              ng-click="closeReplies()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider"
           ng-if="!topic.replies.length">
        暂无回复
      </ion-item>
      <ion-item ng-repeat="reply in topic.replies">
        <a class="item-author">
          <img class="avatar" src="{{reply.author.avatar_url | prefixServerUrl}}">
          {{reply.author.loginname}}
          <span class="item-note"
                am-time-ago="reply.create_at">
          </span>
        </a>
        <div class="padding-top item-text-wrap" ng-bind-html="reply.content"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
