<ion-view view-title="{{replies.length}}回复">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider"
           ng-if="!replies.length">
        暂无回复
      </ion-item>
      <ion-item ng-repeat="reply in replies">
        <a class="item-author positive"
           ui-sref="app.user({loginname: reply.author.loginname})">
          <img class="avatar" src="{{reply.author.avatar_url | prefixServerUrl}}">
          {{reply.author.loginname}}
          <span class="item-note"
                am-time-ago="reply.create_at">
          </span>
        </a>
        <div class="padding-top item-text-wrap" ng-bind-html="reply.content"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
