<ion-view view-title="正文">
  <ion-nav-buttons side="right">
    <button class="button header-replies-button"
            ui-sref="app.replies({topicId: topic.id})"
            ng-if="topic">
      {{topic.reply_count}}回复
    </button>
    <button class="button button-icon ion-ios-more"
            ng-if="popover"
            ng-click="popover.show($event)">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="text-center padding"
         ng-if="loading">
      <ion-spinner icon="spiral"></ion-spinner>
      <p>加载中...</p>
    </div>
    <div class="padding text-center"
         ng-if="error">
      囧，出错啦...
    </div>
    <article class="padding"
             ng-if="!loading">
      <h3>{{topic.title}}</h3>
      <hr clas="stable"/>
      <a class="item-author positive button-link"
         ui-sref="app.user({loginname: topic.author.loginname})">
        <img ng-if="topic.author.avatar_url" class="avatar" src="{{topic.author.avatar_url | prefixUrl}}">
        {{topic.author.loginname}}
        <span class="item-note"
              am-time-ago="topic.create_at">
        </span>
      </a>
      <div class="padding-vertical" ng-bind-html="topic.content"></div>
    </article>
    <div class="item"
         ng-if="!loading"
         ui-sref="app.replies({topicId: topic.id})">
      <span ng-if="topic.reply_count">
        {{topic.reply_count}} 回复
      </span>
      <span ng-if="!topic.reply_count">
        暂无回复
      </span>
    </div>
  </ion-content>
</ion-view>
