<ion-side-menus enable-menu-with-back-views="false">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon"
              menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-person"
              ng-if="!me"
              ng-click="loginModal.show()"></button>
      <a class="button button-clear header-avatar-button"
         ui-sref="app.user({loginname:me.loginname})"
         ng-if="me">
        <img class="avatar" ng-src="{{me.avatar_url | prefixServerUrl}}">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear
                  collection-repeat="tab in tabs"
                  collection-item-width="'100%'"
                  collection-item-height="50"
                  ui-sref-active="active positive"
                  ui-sref="app.topics({tab:tab.value})"
                  menu-close>
          {{tab.label}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

</ion-side-menus>
