<ion-view view-title="我的消息">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <!-- TODO overflow-scroll="true" -->
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..."
                   pulling-icon="ion-ios-arrow-down"
                   spinner="spiral"
                   on-refresh="doRefresh()">
    </ion-refresher>
    <div class="text-center padding"
         ng-if="loading && !hasnot_read_messages">
      <ion-spinner icon="spiral"></ion-spinner>
      <p>加载中...</p>
    </div>
    <div class="padding text-center"
         ng-if="error">
      囧，出错啦...
    </div>
    <div class="list">
      <message-tile ng-repeat="message in hasnot_read_messages track by message.id"
                    message="message">
      </message-tile>
      <div class="item"
           ng-if="!hasnot_read_messages.length && hasnot_read_messages && !error">
        暂无未读消息
      </div>
      <div ng-if="has_read_messages.length"
           class="item item-divider">已读消息</div>
      <message-tile ng-repeat="message in has_read_messages track by message.id"
                    message="message">
      </message-tile>
    </div>
  </ion-content>
  <button class="button-float button button-stable icon icon-done-all"
          ng-if="!hasnot_read_messages.length"
          ng-click="markAsRead()"></button>
</ion-view>
