<ion-view view-title="我的消息">
  <ion-nav-buttons side="right">
    <button class="button button-small button-positive"
            ng-click="markAsRead()"
            ng-if="hasnot_read_messages.length">
      标记为已读
    </button>
  </ion-nav-buttons>
  <ion-content delegate-handle="replies-handle" overflow-scroll="true">
    <ion-refresher pulling-text="下拉刷新..."
                   pulling-icon="ion-ios-arrow-down"
                   spinner="spiral"
                   on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <message-tile ng-repeat="message in hasnot_read_messages track by message.id"
                    message="message">
      </message-tile>
      <div class="item"
           ng-if="!hasnot_read_messages.length && !loading && !error">
        暂无未读消息
      </div>
      <div ng-if="has_read_messages.length"
           class="item item-divider">已读消息</div>
      <message-tile ng-repeat="message in has_read_messages track by message.id"
                    message="message">
      </message-tile>
    </div>
    <div class="text-center padding"
         ng-if="loading && !has_read_messages && !hasnot_read_messages">
      <ion-spinner icon="spiral"></ion-spinner>
      <p>加载中...</p>
    </div>
    <div class="padding text-center"
         ng-if="error">
      囧，出错啦...
    </div>
  </ion-content>
</ion-view>
