<ion-view view-title="{{selectedTab | tabLabel}}">
  <ion-nav-buttons side="right">
    <span ng-if="!me">
      <button class="button button-icon icon icon-person"
              ng-click="auth.login()"></button>
    </span>
    <span ng-if="me">
      <a class="button button-icon icon header-avatar-button"
         ng-class="{'unread-message-dot':msg.getUnreadCount() > 0}"
         ui-sref="app.user({loginname:me.loginname})">
        <img class="avatar"
             alt="{{::me.loginname}}"
             ng-src="{{::me.avatar_url | prefixUrl}}">
      </a>
    </span>
  </ion-nav-buttons>
  <!-- TODO overflow-scroll="true" -->
  <ion-content delegate-handle="topics-handle">
    <ion-refresher pulling-text="下拉刷新..."
                   pulling-icon="ion-ios-arrow-down"
                   spinner="spiral"
                   on-refresh="doRefresh()">
    </ion-refresher>

    <!-- topics list -->
    <div class="list">
      <div class="item item-avatar item-topic"
           collection-repeat="topic in topics track by topic.id"
           item-width="100%"
           item-height="72"
           item-render-buffer="10"
           ui-sref="app.topic({topicId: topic.id})">
        <img ng-src="{{topic.author.avatar_url | prefixUrl}}">
        <h2>{{topic.title}}</h2>
        <p>
          <span class="label label-positive"
                ng-if="topic.top">置顶</span>
          <span class="label label-positive"
                ng-if="selectedTab == 'all' && topic.good && !topic.top">精华</span>
          <span class="label label-default"
                ng-if="selectedTab == 'all' && !topic.top && !topic.good">{{topic.tab | tabLabel}}</span>
          {{topic.author.loginname}}
          <span class="item-note"
                am-time-ago="topic.last_reply_at">
          </span>
        </p>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()"
                         ng-if="hasMore && !error"
                         spinner="spiral"
                         distance="10%">
    </ion-infinite-scroll>
    <div class="padding text-center"
         ng-if="!loading && (!hasMore || !topics.length)">
      <span ng-if="topics.length">没有了...</span>
      <span ng-if="!error && !topics.length">暂无话题</span>
      <span ng-if="error">囧，出错啦...</span>
    </div>
  </ion-content>
  <button class="button-float button button-assertive icon icon-new-topic"
          ng-click="createNewTopic()"></button>
</ion-view>
