<ion-view view-title="回复">
  <ion-nav-buttons side="right">
    <button class="button header-replies-button"
            ng-click="scrollDelegate.scrollBottom(true)"
            ng-if="replies">
      <span ng-if="replies.length == nTotal">
        {{nTotal}}回复
      </span>
      <span ng-if="replies.length < nTotal">
        {{replies.length}}/{{nTotal}}
      </span>
    </button>
  </ion-nav-buttons>
  <ion-content delegate-handle="replies-handle">
    <ion-refresher pulling-text="下拉刷新..."
                   pulling-icon="ion-ios-arrow-down"
                   spinner="spiral"
                   on-refresh="doRefresh()">
    </ion-refresher>
    <div class="padding text-center"
         ng-if="error">
      囧，出错啦...
    </div>
    <div class="list">
      <div class="item"
           ng-if="!replies.length && !loading && !error">
        暂无回复
      </div>
      <div ng-repeat="reply in replies track by reply.id"
           class="item item-text-wrap reply-item"
           on-hold="showReplyAction(reply)">
        <a class="item-author positive button-link"
           ui-sref="app.user({loginname: reply.author.loginname})">
          <img class="avatar"
               alt="{{reply.author.loginname}}"
               src="{{reply.author.avatar_url | prefixUrl}}">
          {{reply.author.loginname}}
        </a>
        <span class="item-note" ng-if="reply.ups.length">
          {{reply.ups.length}} 赞
        </span>
        <div class="reply-content" ng-bind-html="reply.content"></div>
        <p class="reply-content">
          <span class="text-note"
                am-time-ago="reply.create_at">
          </span>
          &nbsp;
          <span ng-if="newReply.reply_id != reply.id">
            <a class="button-link text-note"
               href
               ng-click="replyAuthor(reply)">
              <i class="ion ion-reply"></i>
              回复
            </a>
          </span>
          <span ng-if="newReply.reply_id == reply.id">
            <a class="button-link text-note positive"
               href
               ng-click="clearNewReply()">
              <i class="ion ion-reply"></i>
              回复
            </a>
          </span>
          &nbsp;
          <span ng-if="reply.ups.indexOf(me.id) != -1">
            <a class="button-link assertive"
               href
               ng-click="toggleLike(reply)">
              <i class="ion ion-thumbsup"></i>
              已赞
            </a>
          </span>
          <span ng-if="reply.ups.indexOf(me.id) == -1">
            <a class="button-link text-note"
               href
               ng-click="toggleLike(reply)">
              <i class="ion ion-thumbsup"></i>
              赞
            </a>
          </span>
        </p>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()"
                         ng-if="hasMore && !error"
                         spinner="spiral"
                         distance="10%">
    </ion-infinite-scroll>
  </ion-content>
  <auto-sizing-footer>
    <label class="new-reply item-input-wrapper">
      <textarea msd-elastic
                focus-on="focus.newReplyInput"
                ng-model="newReply.content"
                ng-change="!newReply.content&&clearNewReply()"
                placeholder="添加回复，按住‘发送’预览">
      </textarea>
    </label>
    <button class="button button-link reply-button"
            ng-disabled="!newReply.content"
            ng-click="sendReply()"
            on-hold="showSendAction()">发送</button>
  </auto-sizing-footer>
</ion-view>
