/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$button-light-border:             #e5e5e5 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../lib/ionic/scss/ionic";

// TODO refactor
.platform-android {
  .action-sheet-group {
    .button {
      padding: 0 10px;
    }
  }
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
}

img {
  max-width: 100%;
}

.item-author {
  line-height: 20px;
  text-decoration: none;
  .avatar {
    border-radius: 4px;
    height: 16px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
  }
}
.item-topic {
  .item-content {
    img {
      border-radius: 4px !important;
    }
    padding-right: 16px !important;
  }
}
.header-replies-button {
  min-height: 25px !important;
  line-height: 24px !important;
  height: 25px !important;
  background-color: $button-positive-border !important;
  margin: 4px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border-top: 5px solid $button-positive-border;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    left: -1px;
    bottom: -5px;
  }
}
.header-avatar-button {
  line-height: 34px;
  height: 34px;
  .avatar {
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align:middle;
  }
}
.label {
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 12px;
  color: white;
  margin-right: 2px;
  &.label-positive {
    background-color: $button-positive-active-bg;
    color: white;
  }
  &.label-default {
    background: #e5e5e5;
    color: #999;
  }
}
.text-note {
  color: #aaa;
}
.button-link {
  @include transition(opacity .1s);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $button-positive-bg !important;
  }
  &.active,
  &.activated {
    color: $button-positive-active-bg !important;
  }
}
.auto-sizing-footer {
  height: auto;
  background-image: none;
  box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, .1);
}
.reply-button {
  margin-left: 0 !important;
  font-size: 16px !important;
  border: none;
}
.new-reply {
  background: none;

  textarea {
    @include transition(border-bottom .1s);
    resize: none;
    background: none;
    max-height: 130px;
    width: 100%;
    font-size: 16px !important;
    line-height: 1.4;
    height: 34px;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid $item-stable-border;
    &:focus {
      border-bottom: 1px solid $item-positive-border;
    }
  }
}
